.flowDashedLine {
  stroke-dasharray: 5 25;
  stroke-dashoffset: 30;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.targetDashedLine {
  stroke-dasharray: 3 3;
  stroke-dashoffset: 6;
  animation: targetDashed 1s linear infinite;
}

@keyframes targetDashed {
  from {
    stroke-dashoffset: 6;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svgInnerring {
  transform-box: fill-box;
  transform-origin: center;
  animation: spinClockwise 2s linear infinite;
  background-color: blue;
  fill: red;
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svgOuterring {
  transform-box: fill-box;
  transform-origin: center;
  animation: spinCounterClockwise 3s linear infinite;
}

@keyframes spinCounterClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* CSS */
#my-svg {
  fill: red; /* Change the color as desired */
}
