.flowDashedLine {
  stroke-dasharray: 5 8;
  stroke-dashoffset: 13;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 13;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.targetDashedLine {
  stroke-dasharray: 3 3;
  stroke-dashoffset: 6;
  animation: targetDashed 1s linear infinite;
}

@keyframes targetDashed {
  from {
    stroke-dashoffset: 6;
  }
  to {
    stroke-dashoffset: 0;
  }
}
